body {
    background: beige;
    font-family: 'papyrus', fantasy;
    text-align: center;
  }
  
  h1 {
    padding: 1vw;
    font-size: 6em;
    white-space: nowrap;
    display: center;
  }
  
  h2{
    font-size: 2em;
  }
  
  button {
    font-size: 40px;
    display: block;
    max-width: 350px;
    max-height: 350px;
    margin: auto;
    color: rgb(255, 248, 187);
    background: rgb(199, 155, 113);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 3px;
    padding: 20px;
    box-shadow:inset 0 -0.3em 0 -0.20em rgba(0,0,0,0.17);
  }
  button:hover{
    background: burlywood;
    color: yellow;
  }
  
  #buttonArea{
    display: flex;
    justify-content: space-around;
  }
  
  #playArea {
    font-size: 50px;
    padding: 40px;
  }
  
  #restart {
    color: rgba(10, 9, 1, 0.781);
    background: red;
  }
  
  #beeg {
    font-size: 60px;
    background-color: rgb(28, 182, 28);
  }
  
  #beeg:hover{
    transition: 3s;
    background: green;
    color:white;
  }
  
  #restart:hover{
    transition: 3s;
    background: black;
    color:white;
  }
  
  #smallArea{
    padding: 40px;
  }
  
  @media screen and (max-width: 1000px) {
    h1{
      font-size: 3em;
    }
  
    button{
      font-size: 1.1em;
    }
  
    #playArea{
      font-size: 1.1em;
    }
  
    #buttonArea{
      flex-direction: column;
      padding: 1em
    }
  }